body{
  background-image: url('https://static.wixstatic.com/media/b8da42_a7f513d273d848c38e07d201c95361b0~mv2.jpg/v1/fill/w_533,h_533,al_c,lg_1,q_80,enc_auto/Screen%20Shot%202024-01-28%20at%202_25_edited_jp.jpg');
}
#header{
  background-image: url('https://messydesk.neocities.org/messydeskbanner3.0.png');
  background-size: 100%;
  height: 124px;
  width: 100%;
}
#container{
  width: 850px;
  height: 100px;
  align-items: center;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
#navbar{
 color: white;
 width: 100%;
 height: 35px;
 background-image: url('https://messydesk.neocities.org/nav.png');
 background-size: 100px;
 display: flex;
 font-size: 20px;
}

#navbar a {
 display: block; 
 padding: 7px 30px;
 float: center;
 text-align: center;
 color: white;
 font-family: 'arial';
 font-weight: bold;
}
#sidebar{
  background-color: #cdcdcd;
  height: 650px;
  width: 37%;
  /* 250 */
}

#container2{
  display: flex;
}
#main{
 width: 100%;
 height: 100%;
 font-family: arial;
 background: white;
}
#banner{
  background-size: 590px;
  background-image: url('https://messydesk.neocities.org/banner.png');
  height: 150px;
  width: 100%;
  background-position: center;
}


#window2{
 height: 180px;
 width: 90%;
 margin: 10px;
 font-family: 'arial';
 text-align: left;
 padding: 0px 0px 0px 0px;
}
#window2inner{
 height: auto;
 border: 1px solid #5e5e5e;
 font-family: 'arial';
 text-align: left;
 padding: 0px 0px 0px 0px;
 background: white;
}
#window{
 width: 100%;
}
#head{
  font-weight: bold;
  background: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(183,183,183,1) 12%, rgba(183,183,183,1) 100%);
  font-size: 17px;
  height: 23px;
  padding: 6px 0px 0px 15px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;
  color: #3333333;
  display: flex;
}
#head2{
  font-weight: bold;
  background: linear-gradient(180deg, rgba(233,233,233,1) 0%, rgba(183,183,183,1) 12%, rgba(183,183,183,1) 100%);
  font-size: 15px;
  height: 18px;
  padding: 4px 0px 1px 15px;
  border-radius: 10px 10px 0px 0px;
  border: 1px solid black;
  color: #3333333;
}
#container2 a {
    color: #003399;
}
