#window p{
 margin: 12px;
}
#main{
 background-color: #cfe1f3; 
 padding: 10px;
 font-family: arial;
}
#window {
  width: 90%;
  margin: auto;
}
#thing p {
    padding: 0px 0px 10px 12px;
    margin-top: 8px;
    margin-bottom: 0px;
}
#articlebox{
 margin: auto;
 height: 100%;
 border: 1px solid black;
 background: white;
 padding: 20px;
}
.pic{
 display: block;
 margin-left: auto;
 margin-right: auto;
}
#article{
 margin: auto;
}
#article h2{
 text-align: center; 
 margin-bottom: 10px;
 margin-top: 20px;
}
p{
 margin: 0px; 
}
#article p{
  font-size: 20px;
}
.back {
    margin-top: 0px;
    margin-bottom: 5px;
    margin-left: auto;
    margin-right: 10px;
    padding: 0px 0px 0px 0px;
    font-weight: normal;
    color: #003399;
    text-decoration: none;
    font-size: 16px;
}
.back:hover{
    text-decoration: underline;
}
#main{
 background: url("https://messydesk.neocities.org/stripes.png");
 background-size: 5px;
}